<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
    <!-- Materialize CSS CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Fontawesome 6 CND-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
      <nav class="orange darken-2">
        <div class="nav-wrapper"></div>
      </nav>

      <input type="text" />

      <div class="container" v-show="!modoEditar">
        <div class="section">
          <!--   Icon Section   -->
          <div class="row" v-show="!modoAdicionar">
            <div class="col s12" id="elTasks">
              <!-- New tasks area-->
              <!-- card de tarefa que repete para cada item do array -->
              <div v-for=" tarefa in tasks" class="card horizontal">
                <div class="card-stacked">
                  <div class="card-content">
                    <p>
                      {{tarefa.title}}
                      <span
                        class="new badge data-badge-caption light-blue lighten-2"
                      >
                        {{ tarefa.dueTo }}
                      </span>
                    </p>
                  </div>
                  <span class="projeto">{{tarefa.project}}</span>
                  <div class="card-action">
                    <a
                      ><i
                        class="fa-solid fa-pen-to-square"
                        @click="editTasks(tarefa.id)"
                      ></i
                    ></a>
                    <a
                      ><i
                        class="fa-solid fa-trash-can"
                        @click="deleteTasks(tarefa.id)"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
              <button
                class="btn-floating btn-large waves-effect waves-light red"
                @click="modoAdicionar = true"
              >
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- NOVA TAREFA -->

        <div class="row" v-show="modoAdicionar">
          <div class="col s12" id="elTasks">
            <!-- New tasks area-->
            <div class="card horizontal">
              <div class="card-stacked">
                <div class="card-content">
                  <h2>New Task</h2>
                  <form>
                    <div class="input-field col s12">
                      <input
                        placeholder="Title"
                        id="title"
                        type="text"
                        class="validate"
                        required
                        v-model="task.tempTitle"
                      />
                      <label for="title">Title</label>
                    </div>

                    <div class="input-field col s12">
                      <select
                        style="display: block; opacity: 0.7"
                        id="project"
                        v-model="task.tempProject"
                      >
                        <option style="color: gray" value="" disabled selected>
                          Choose your option
                        </option>
                        <option style="font-weight: 600" value="Estudos">
                          Estudos
                        </option>
                        <option style="font-weight: 600" value="Financeiro">
                          Financeiro
                        </option>
                        <option style="font-weight: 600" value="Trabalho">
                          Trabalho
                        </option>
                      </select>
                      <!-- <label for="project">Pick a Project</label> -->
                    </div>

                    <div class="input-field col s12">
                      <input
                        type="date"
                        class="datepicker"
                        id="dueTo"
                        v-model="task.tempDueTo"
                      />
                      <label for="dueTo">Date due to</label>
                    </div>

                    <a
                      class="waves-effect waves-light btn-large"
                      id="btnSave"
                      @click="addTasks"
                    >
                      Save
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer class="page-footer orange darken-3">
          <div class="footer-copyright">
            <div class="container">© 2022 Frontend</div>
          </div>
        </footer>
      </div>

      <!-- EDIT TAREFA -->

      <div class="row" v-show="modoEditar">
        <div class="col s12" id="elTasks">
          <!-- New tasks area-->
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <h2>Edit Task</h2>
                <form>
                  <div class="input-field col s12">
                    <input
                      placeholder="Title"
                      id="title"
                      type="text"
                      class="validate"
                      required
                      v-model="task.tempTitle"
                    />
                    <label for="title">Title</label>
                  </div>

                  <div class="input-field col s12">
                    <select
                      style="display: block; opacity: 0.7"
                      id="project"
                      v-model="task.tempProject"
                    >
                      <option style="color: gray" value="" disabled selected>
                        Choose your option
                      </option>
                      <option style="font-weight: 600" value="Estudos">
                        Estudos
                      </option>
                      <option style="font-weight: 600" value="Financeiro">
                        Financeiro
                      </option>
                      <option style="font-weight: 600" value="Trabalho">
                        Trabalho
                      </option>
                    </select>
                    <!-- <label for="project">Pick a Project</label> -->
                  </div>

                  <div class="input-field col s12">
                    <input
                      type="date"
                      class="datepicker"
                      id="dueTo"
                      v-model="task.tempDueTo"
                    />
                    <label for="dueTo">Date due to</label>
                  </div>

                  <a
                    class="waves-effect waves-light btn-large"
                    id="btnSave"
                    @click="printTask"
                    @click="editTasks"
                  >
                    Save
                  </a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="page-footer orange darken-3">
        <div class="footer-copyright">
          <div class="container">© 2022 Frontend</div>
        </div>
      </footer>
    </div>

    <!-- Materialize JavaScript CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/todo.js"></script>
    <script src="js/materialize.min.js"></script>
  </body>
</html>
